<div
  style="
    margin: 0;
    background-color: #f1f3f5;
    padding: 48px 0;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
"
>
  <div
    style='max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1);'
  >
    <div style='background-color: #B8D1C8; padding: 24px; text-align: center;'>
      <img
        alt='Timelycapsule Logo'
        src='https://github.com/enbliq/timelycapsuleweb/blob/dev/src/assets/timelycapsulelogo.svg'
        style='height: 48px;'
      />
    </div>
  </div>
</div>