
{{> header}}    
    <div style="margin-bottom: 32px; display: none;">
                <h1 style="color: #345249; font-size: 24px; margin: 0 0 16px;">Reset Your Password</h1>
                <p style="color: #4a5568; margin: 0 0 16px;">We received a request to reset your password. Click the button below to choose a new password:</p>
                <div style="text-align: center;">
                    <a href="{{resetLink}}" 
                       style="
                           display: inline-block;
                           background-color: #345249;
                           color: white;
                           padding: 12px 24px;
                           border-radius: 4px;
                           text-decoration: none;
                           font-weight: 600;
                       "
                    >
                        Reset Password
                    </a>
                </div>
                <p style="color: #718096; font-size: 14px; margin: 24px 0 0;">If you didn't request this change, please ignore this email.</p>
            </div>
        </div>  
{{> footer}}
