{{> header}}
      <div style="margin-bottom: 32px; display: none;">
                <h1 style="color: #345249; font-size: 24px; margin: 0 0 16px;">Verify Your Email</h1>
                <p style="color: #4a5568; margin: 0 0 16px;">Please verify your email address to activate your Timely Capsule account.</p>
                <div style="text-align: center;">
                    <a href="{{verificationLink}}" 
                       style="
                           display: inline-block;
                           background-color: #345249;
                           color: white;
                           padding: 12px 24px;
                           border-radius: 4px;
                           text-decoration: none;
                           font-weight: 600;
                       "
                    >
                        Verify Email
                    </a>
                </div>
            </div>
{{> footer}}
